body {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto;
}

.main {
  padding-left: 62px;
  padding-right: 62px;
  padding-bottom: 31px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  box-sizing: border-box;
}